*,*::before,*::after{box-sizing:border-box;margin:0;padding:0}
html:focus-within{scroll-behavior:smooth}
body{min-height:100vh;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased}
img,picture,video,canvas,svg{display:block;max-width:100%}
input,button,textarea,select{font:inherit;color:inherit}
button{background:none;border:none}
a{text-decoration:none;color:inherit}
ul[role='list'],ol[role='list']{list-style:none}
